body {
    margin: 0;
    padding: 0;
}

#tela_cheia{
    height: 100vh; 
    background: radial-gradient(circle at center, #027fa8, #001b36);
}

#central_externa {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar itens à esquerda */
    justify-content: center; /* Centralizar verticalmente */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px; /* Adicione algum espaço interno para o conteúdo */
}

#apresentacao{
    margin-bottom: 10px;
}
#icons { 
    position: absolute;
    display: flex; 
    bottom: calc(66%); 
    left: 71%;
}

#icons img {
    position: relative;
    margin-left: 15px;
    height: 60px;
    width: auto;
    transition: transform 0.3s; /* Adicione uma transição de transformação para criar um efeito suave. */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

#icons img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem para 120% do tamanho original. Você pode ajustar o valor conforme desejado. */
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

#fullstack{
    color: aliceblue;
    font-family: Georgia, serif;
    font-size:6.5em;
    line-height: 0.8;
    margin-top: 2px;
}

#developer{
    color: aliceblue;
    font-family: Georgia, serif;
    font-size:8.5em;
    line-height: 0.8;
}

#descricao {
    color: rgb(174, 210, 241);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.2; /* Ajuste conforme necessário */
    margin-top: 0px; /* Espaçamento superior para separá-lo do conteúdo acima */
    align-self: flex-end; /* Alinhar-se à direita dentro da div central_externa */
}

p{
    font-size:1.1em;
    color: rgb(174, 210, 241);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 0;
}